In [1]:
import pandas as pd
df = pd.read_csv("life_expectancy_wide.csv")
melted = pd.melt(df, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], var_name='Year', value_name='Life Expectancy')
melted.to_csv("life_expectancy_long.csv", index=False)
melted.head()

,Country Name,Country Code,Indicator Name,Indicator Code,year,life expectancy
0,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,65.569366
1,Andorra,AND,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,NaN
2,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,31.580049
3,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,32.984829
4,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,62.254366